#rect {
    width: 400px;
    height: 200px;
    border: solid 1px black;
    margin: 20px auto 0 auto;
}

.info {
    width: 400px;
    margin: auto;
    text-align: center;
}

#container {
    width: 100%;
}
